.navContainer{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 10px 0px;
    box-shadow: 12px;
    width: 100%;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
} 

.title{
    font-size: 38px;
    font-weight: 500; 
    font-family: sans-serif;
}