.footingContainer{
     position: fixed;
  bottom: 20px;
  right: 20px;
  
    
}

.addButton{
    background-color: #007bff;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} 


.search-bar {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin-top: 10px;
}

.search-bar:focus {
  border-color: #007bff;
}

